.contents h2{
    border-bottom: 1px solid #d9d9d9;
    border-left: 16px solid #1b1b1b;
    margin: 20px 0 10px;
    padding: 8px 0 8px 20px;
    font-size: 24px;
}
.contents h1{
    border-bottom:  4px solid #1b1b1b;
    width: auto;
    float: left;
    font-size: 24px;
}
.contents h1:first-child{
    margin-bottom: 20px;
}
.mainContent{
    background: url('/image/courses_detail_content_bg.png');
    float: left;
}
.topContent{
    background: url('/image/courses_detail_content_bg_begin.png');
    float: left;
    width: 990px;
    height: 25px;
    display: block;
}
.bottomContent{
    background: url('/image/courses_detail_content_bg_end.png');
    float: left;
    width: 990px;
    height: 25px;
    display: block;
}